WpfApp1/Connected Services/UTIL/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://ServicesPackage" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ServicesPackage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ServicesPackage">
      <xs:element name="showProfile">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputPhoneNumber" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="showProfileResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputPhoneNumber" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputPassword" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBalances">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputPhoneNumber" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBalancesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputFirstName" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputLastName" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputPhoneNumber" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputEmail" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputPassword" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputBirthDate" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputTcNumber" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="changePassword">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inputPhoneNumber" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputTcNumber" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inputNewPassword" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="changePasswordResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getBalancesRequest">
    <wsdl:part name="parameters" element="ns:getBalances" />
  </wsdl:message>
  <wsdl:message name="getBalancesResponse">
    <wsdl:part name="parameters" element="ns:getBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="createAccountRequest">
    <wsdl:part name="parameters" element="ns:createAccount" />
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part name="parameters" element="ns:createAccountResponse" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="showProfileRequest">
    <wsdl:part name="parameters" element="ns:showProfile" />
  </wsdl:message>
  <wsdl:message name="showProfileResponse">
    <wsdl:part name="parameters" element="ns:showProfileResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordRequest">
    <wsdl:part name="parameters" element="ns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="parameters" element="ns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesPortType">
    <wsdl:operation name="getBalances">
      <wsdl:input wsaw:Action="urn:getBalances" message="ns:getBalancesRequest" />
      <wsdl:output wsaw:Action="urn:getBalancesResponse" message="ns:getBalancesResponse" />
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <wsdl:input wsaw:Action="urn:createAccount" message="ns:createAccountRequest" />
      <wsdl:output wsaw:Action="urn:createAccountResponse" message="ns:createAccountResponse" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
      <wsdl:output wsaw:Action="urn:loginResponse" message="ns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="showProfile">
      <wsdl:input wsaw:Action="urn:showProfile" message="ns:showProfileRequest" />
      <wsdl:output wsaw:Action="urn:showProfileResponse" message="ns:showProfileResponse" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input wsaw:Action="urn:changePassword" message="ns:changePasswordRequest" />
      <wsdl:output wsaw:Action="urn:changePasswordResponse" message="ns:changePasswordResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap11Binding" type="ns:ServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBalances">
      <soap:operation soapAction="urn:getBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="urn:createAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showProfile">
      <soap:operation soapAction="urn:showProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="urn:changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12Binding" type="ns:ServicesPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBalances">
      <soap12:operation soapAction="urn:getBalances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <soap12:operation soapAction="urn:createAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showProfile">
      <soap12:operation soapAction="urn:showProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="urn:changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesHttpBinding" type="ns:ServicesPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getBalances">
      <http:operation location="getBalances" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <http:operation location="createAccount" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="login" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showProfile">
      <http:operation location="showProfile" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <http:operation location="changePassword" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesHttpSoap11Endpoint" binding="ns:ServicesSoap11Binding">
      <soap:address location="http://68.183.75.84:8080/i2iCellService/services/Services.ServicesHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ServicesHttpSoap12Endpoint" binding="ns:ServicesSoap12Binding">
      <soap12:address location="http://68.183.75.84:8080/i2iCellService/services/Services.ServicesHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ServicesHttpEndpoint" binding="ns:ServicesHttpBinding">
      <http:address location="http://68.183.75.84:8080/i2iCellService/services/Services.ServicesHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>